@use "../../styles/partials/variables" as *;

@mixin cardStructure {
  border-radius: 9px;
  background-color: $color-flix;
  min-width: calc(100% / 5);
  position: relative;
  img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover {
      opacity: 0;
    }
  }
  .myCard {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    .myTitle {
      width: 100%;
      height: max-content;
      margin-bottom: 25px;
    }
    img.myLogo {
      width: 25px;
      height: auto;
    }
  }
}
